// ----------------------------------------
//  Layout
// ----------------------------------------

%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin l-inline {
  @extend %list-reset;
  @include clearfix;

  > li {
    @include clearfix;
    float: left;
  }
}

@mixin l-inline-block {
  @extend %list-reset;
  > li {
    @include clearfix;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

@mixin l-stacked {
  @extend %list-reset;
  > li {
    @include clearfix;
    display: block;
  }
}

@mixin l-bullet {
  @extend %list-reset;
  list-style: disc;

  > li {
    margin-left: 15px;
  }
}

@mixin l-number {
  @extend %list-reset;
  list-style: decimal;

  > li {
    margin-left: 15px;
  }
}

@mixin l-comma {
  @extend %list-reset;
  > li {
    @include l-margin-left(2px);
    display: inline;

    &:after {
      content: ',';
      display: inline;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

// ----------------------------------------
//  List Margin Helpers
// ----------------------------------------

@mixin l-margin-top($margin-top) {
  margin-top: $margin-top;

  &:first-child {
    margin-top: 0;
  }
}

@mixin l-margin-left($margin-left) {
  margin-left: $margin-left;

  &:first-child {
    margin-left: 0;
  }
}

@mixin list-spacing($prefix: 'mt', $property: 'margin-top') {
  @for $i from 1 through 10 {
    $value: ($i * 5);
    .l-#{$prefix}-#{$value} {
      > li {
        #{$property}: $value+px;

        &:first-child {
          #{$property}: 0;
        }
      }
    }
  }
}
