/**
 * Text Transform
 */
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

/**
 * Font Style
 */
.italic { font-style: italic; }
.oblique { font-style: oblique; }
.bold { font-weight: bold; }

/**
 * Text Align
 */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

/**
 * Size
 */
.giga {}
.mega {}
.kilo {}
.large {}

.small {}
.milli {}
