.invisible { visibility: hidden; }
.visibile { visibility: visible; }

.hide { display: none; }
.show { display: initial; }

.hide-i { display: none !important; }
.show-i { display: initial !important; }
